<p id="notice"><%= notice %></p>

<p>
  <strong>Cust:</strong>
  <%= @config.cust_id %>
</p>

<p>
  <strong>Loan nbr:</strong>
  <%= @config.loan_nbr %>
</p>

<p>
  <strong>Asset:</strong>
  <%= @config.asset_id %>
</p>

<p>
  <strong>Actv sts:</strong>
  <%= @config.actv_sts %>
</p>

<%= link_to 'Edit', edit_config_path(@config) %> |
<%= link_to 'Back', configs_path %>
